* {
    margin: 0;
    padding: 0;
}
.navbarr {
    display: flex;
    /* align-items: center; */
    background-color: blueviolet;    
}
.logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding-left: 50px;
}
.navitems {
    display: flex;
    gap: 50px;
    padding-left: 500px;
}
.navitems a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navitems a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.imaggs{
    width: 100%;
    height: 600px;
    object-fit: cover;
}