* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(73, 74, 109);
    padding: 15px 40px;
}

.logo {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}

.navitems {
    display: flex;
    gap: 40px;
    align-items: center;


}

.navitems a {
    text-decoration: none;
    color: rgb(239, 234, 234);
    font-size: 20px;
}

.visit {
    font-size: 20px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.navitems a:hover {
    color: goldenrod;
    text-decoration: underline;
}




.bodyy {

    width: 100%;
    position: relative;
    height: 600px;

}

.image2 {
    width: 500px;
   
    justify-content: center;
    height: 300px;
}



.imagg {
    width: 100%;
    position: relative;
    height: 600px;
    object-fit: cover;
}

.imh {
    background-color: rgb(52, 135, 212);
    opacity: 0.5;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
}

.hero {
    position: relative;
  
    /* width: 50%; */
    color: black;
}

.text {
    padding-left: 70px;
    font-size: 30px;
    width: 200%;
}

.lowertext {
    padding-left: 70px;
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 31, 40);
    width: 150%;
    box-sizing: border-box;

}


.btn {
    margin-left: 70px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    height: 70px;
    font-weight: bold;
    cursor: pointer;
   

}

.btn:hover {
    background-color: rgb(255, 165, 0);

}

.front {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 0 70px;
}

.imagee {
    width: 100%;
  height: 150%;
    object-fit: cover;
  
}
.pic{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.services{
    display: flex;
   padding-left: 120px;
  
   gap: 50px;
   justify-content: space-around;
    padding-top: 100px; 
   /* margin-top: 50px; */

}
.sp{
    font-size: 45px;
    padding-top: 30px;
    color: goldenrod;
}
.para{
    padding-top: 10px;
}
.abt{
    background-color: black;
}
.next{
    background-color: bisque;
    height: 200px;
}
 .down{
   padding-top: 100px;
    display: flex;
;
} 
 .about{
 
    padding-top: 50px;
 height: 700px;
     background-color: rgb(67, 131, 183);
    /* width: 600px; */
    color:white;
    z-index: 2;
  
}   
.textabt {
    font-size: 50px;
    padding-top: 100px;
    padding-left: 50px;

}
.text2abt{
   font-size: 20px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

}
.btnabt{
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    height: 70px;
    font-weight: bold;
    cursor: pointer;
}
.btnabt:hover {
    background-color: rgb(255, 165, 0);

}
.imageabt{
    /* width: 100%; */
  height: 700px;
    
    z-index: 3;
    padding-left: 200px;
  
}
/* .imagbt{
   
 height: 700px ;
    object-fit: cover;
  position: absolute;
}    */

.imgabt{
    height: 700px;
    width: 100%;
    object-fit: contain;
   
}
.serv{
    font-size: 50px;
    padding-left: 550px;
    padding-top: 50px;
}
.lorem{

    padding-left: 600px;
    padding-top: 10px;
}
.serrr{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.hh{
    font-size: 30px;
    padding-top: 10px;
}
.desc{
   
    padding-top: 10px;
    font-size: 15px;
}
.video > div {
    position: relative;
    display: inline-block;
    width: 100%;
}

.vidimg{
    padding-top: 50px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
}

.ico{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: white;
    font-size: 48px;
}
.testi{
    padding-top: 50px;
   padding-left: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.timg{
    height: 100px;
    width:100px;
    object-fit: cover;
    border-radius: 50px;
   
}
.testimg{
    padding-left: 300px;
    padding-top: 50px;
    display : flex;
    gap: 40px;
}
.name{
    font-size: 20px;
    padding-top: 40px;

}
.cus{
    font-size: 15px;
}
